/* Kriteria Opsional #4 */
* {
  margin: 0;
}

body {
  background-color: #f8edff;
}

header {
  background-color: #525ceb;
  height: 15vh;
  text-align: center;
}

header,
h1 {
  color: white;
  font-size: 1.8em;
  padding-top: 5px;
}

main {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  background-color: #d5d9dd;
  width: 30vw;
  height: auto;
  border: 1px solid #3d3b40;
  border-radius: 5px;
  margin-top: 15px;
  padding: 20px;
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
}

.checklist {
  margin-top: 15px;
}

#bookFormSubmit {
  float: right;
}

.search-bar {
  height: 12vh;
}

#searchBook {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #3d3b40;
  border-radius: 5px;
  background-color: #f8edff;
  padding: 5px;
}

.textContainer {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
